image: node:18
#Pipeline:Proceso completo de ci/cd, consta de una series de stages
#Stages:Fases de un pipeline, cada stage agrupa una serie de jobs,estos stages se ejecutan secuencialemente, a diferencia de los jobs que se ejecutan en paralelo para acelerar el proceso de ci/cd
#Jobs:Son las unidades mas peque침as de un pipeline


#cache: {}
#pipeline: Ejecuci칩n, en cada pipeline tendra sus stages
cache: []
# Etapas por los cuales va a pasar toda esta integraci칩n hasta su despliegue, etapas del pipeline,cada etapa representa una fase de la canalizaci칩n de CI/CD.
stages:
  - build
  - test
  - deploy

# This command is run before the execution of stages
before_script:
  - npm install

variables:
  AWS_PRODUCTION_REGION: sa-east-1 # The region of our S3 bucket
  BUCKET_NAME_PROD: web-ricardo-tovart # Your bucket name

# Nombre del job
build-npm-prod:
  stage: build
  script:
    - rm ./package-lock.json
    - npm run build --prod
  artifacts:
    paths:
      - dist/portfolio-ricardo-tovar/
  only:
    - master

test:
  image: markhobson/node-chrome:latest
  stage: test
  script:
    - npm link @angular/cli@11.2.6 # Para que funcione el comando ng
    - ng test -- --browsers=ChromeHeadless --no-watch
  only:
    - master

deploy-s3-prod:
  image: "python:3.6.6" # We use python because there is a well-working AWS Sdk
  stage: deploy
  dependencies:
    - build-npm-prod
  before_script:
    - pip install awscli # Install the SDK
  script:
    - aws s3 rm s3://web-ricardo-tovart --recursive
    - aws s3 cp dist/portfolio-ricardo-tovar s3://web-ricardo-tovart/ --recursive
    - aws cloudfront create-invalidation --distribution-id E3FT2EUT69PGNA --paths "/*"
  #environment:
  #  name: "s3-deploy"
  #  url: http://web-ricardo-tovart.s3.sa-east-1.amazonaws.com # This is the url of the bucket we saved before
  only:
    - master
