<div class="footer">
  <div class="footer__container">

    <div class="footer__container__description">

      <a href="https://www.linkedin.com/in/ricardo-tovar-868a57122/" target="_blank">
        <i class="fa fa-linkedin fa-2x"></i>
        <span class="sr-only">Perfil de Linkedin de Ricardo Tovar</span>
      </a>
      <a href="https://www.facebook.com/ricardo.tovar.3954/" target="_blank">
        <i class="fa fa-facebook fa-2x"></i>
        <span class="sr-only">Perfil de Facebook de Ricardo Tovar</span>
      </a>
      <a href="https://gitlab.com/RicardoT003" target="_blank">
        <i class="fa fa-gitlab fa-2x"></i>
        <span class="sr-only">Perfil de Gitlab de Ricardo Tovar</span>
      </a>
      <a href="https://github.com/RicardoMTT" target="_blank">

        <i class="fa fa-github fa-2x"></i>
        <span class="sr-only">Perfil de Github de Ricardo Tovar</span>
      </a>

    </div>
    <div class="footer__container__social"></div>
  </div>
</div>
