@import '../../../styles.scss';

.main-header{
    padding: 0 72px;
    @media screen and (max-width:768px) {
        padding: 0 15px;
    }
}
.header{
    width: 100%;
    padding: 1em 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    &__left,&__right{
        width: 50%;
    }
    &__right{
        @media screen and (max-width:768px) {
            width: 100%;
        }
    }
    &__left{
        border-radius: 100px;
        background-color: #eeebff;
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width:768px) {
            display: none;
        }
    }
    &__button{
        border: none;
        color: $primary-color;
        background: transparent;
        display: none;

        @media screen and (max-width:768px) {
            display: flex;
        }
    }
    &__svg{
        width: 2em;
        height: 2em;
    }
    &__nav{
        display: flex;
        align-items: center;
        @media screen and (max-width:768px) {
            width: 100%;
            display: none;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            &--activo{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &__ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        @media screen and (max-width:768px) {
            flex-direction: column;

        }
        &__li{
            margin: 0 .5em;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            list-style: none;
            color: #6B7280;
            align-self: center;
            transition: all .2s ease-in-out;
            @media screen and (max-width:768px) {
                margin: .5em 0;
            }
        }
        &__li:hover{
            color:$primary-color;
            transform: scale(1.1);
        }
        button{
          background: $primary-color;
          border: 1px solid $primary-color;
            border-radius: 6px;
            padding: 8px 25px;
            gap: 10px;
            cursor: pointer;
            transition: all .2s ease-in-out;
            @media screen and (max-width:768px) {
                margin-top: 10px;
            }
            h3{
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                color: #fff;
                margin: 0;
            }
        }
        button:hover{
            background: $primary-color;
            border: 1px solid #fff;
            h3{
                color: #fff;
            }
        }
    }

}

.header-fixed{
    width: 100%;
    background-color: #fff;
}


  .bar-top,
  .bar-middle,
  .bar-bottom {
    height: 5px;
    background: $primary-color;
    border-radius: 5px;
    margin: 3px 10px 3px 5px;
    transform-origin: left;
    transition: all 0.5s;
  }

  .active {
    .bar-top { transform: rotate(40deg); }
    .bar-middle { transform: translateX(1rem); opacity: 0; }
    .bar-bottom { transform: rotate(-39deg); }
  }

  .hamburger-menu {
    margin: 1rem 0;
    display: none;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    @media screen and (max-width:768px) {
      display: flex;
    }

  }
.colapso { width: 100%; }
.colapso{
    max-height: 0;

    overflow: visible;
    @media screen and (max-width:768px) {
        overflow: hidden;
    }

    transition: all 0.2s ease-out;
}
@media screen and (max-width:768px) {
  .header__nav { width: 100%; }
}
.animate-btn:hover{
  animation: shaking 2s infinite;
}
@keyframes shaking{
  10%{ transform: scale(1.05) rotate(5deg); }
  20%{ transform: scale(1.05) rotate(-5deg); }
  30%{ transform: scale(1.05) rotate(5deg); }
  40%{ transform: none; }
}

.container-toggle{
  position: relative;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  margin-left: 10px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: rgb(43, 39, 38);
  width: 62px;
  height: 32px;
  @media screen and (max-width:768px) {
    width: 58px;
    height: 32px;
  }
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 8px;
  top: 5px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(16px);
}

.noon{
  position: relative;
  right: 7px;
   @media screen and (max-width:768px) {
    right: 4px;
  }
}

