@import '../../../styles.scss';

.phrase-main{
    padding: 40px 72px;
    @media screen and (max-width:768px) {
        padding: 40px 15px;
    }
    p{
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: #1F2937;
        margin: 0;
        span{
            color: $primary-color;
        }
    }
}
