@import '../../../styles.scss';

.total-repos{
    padding: 36px 72px;
    h1{
        text-align:center;
        margin: 0;
        // font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: #1F2937
    }
    @media screen and (max-width:480px) {
        padding: 36px 20px;
    }
    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__item{
            width: 48%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 30px 0;
            margin: 10px 0;
            @media screen and (max-width:480px) {
                width: 100%;
            }
            &__logo{
                width: 25%;
                height: 100%;
                // padding: 32px 0;
                background-color: $primary-color;
                border-radius: 10px 0px 0px 10px;
                &__main{
                    height: 100%;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            &__description{
                // padding: 32px 0;
                width: 75%;
                height: 100%;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                &__pd{
                    padding: 20px;
                    &__read-more{
                        margin-top: 10px;
                        display: flex;
                        cursor: pointer;
                        i{
                            color: $primary-color;
                            margin-left: 10px;
                        }
                        span{
                            color: $primary-color;
                            font-weight: 500;
                        }
                    }
                    &__paragraph{
                        span{
                            // font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 27px;
                            color: #374A59;
                        }
                    }
                    &__language{
                        span{
                            // font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 27px;
                            color: #6E798C;
                        }
                    }
                    &__title{
                        span{
                            // font-family: 'DM Serif Display';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 22px;
                            color: #081F32;
                        }
                    }
                }
            }
        }
    }
}
