<div class="experience" id="experience">
  <div class="experience__container">
    <div class="experience__container__title">
      <h1>Careers</h1>
    </div>
    <div class="experience__container__header">
      <div class="experience__container__header__flex">
        <span class="experience__container__header__flex__item-company">
          COMPANY
        </span>
        <span class="experience__container__header__flex__item-role">
          POSITION
        </span>
        <span class="experience__container__header__flex__item-year">
          YEAR
        </span>
      </div>
    </div>

    <div class="experience__container__row">
      <div class="experience__container__row__item-local">
        <strong class="experience__container__row__item-local__text">
          Cereza Consulting</strong
        >
        <span class="experience__container__row__item-local__text"
          >&nbsp; Lima</span
        >
      </div>

      <div class="experience__container__row__item-role">
        <strong class="experience__container__row__item-role__role">
          Software Developer</strong
        >
      </div>

      <div class="experience__container__row__item-year">
        <strong class="experience__container__row__item-year__year">
          February 2020- May 2021</strong
        >
      </div>
    </div>

    <div class="experience__container__row">
      <div class="experience__container__row__item-local">
        <strong class="experience__container__row__item-local__text">
          Everis</strong
        >
        <span class="experience__container__row__item-local__text"
          >&nbsp;Lima</span
        >
      </div>

      <div class="experience__container__row__item-role">
        <strong class="experience__container__row__item-role__role">
          Junior Developer</strong
        >
      </div>

      <div class="experience__container__row__item-year">
        <strong class="experience__container__row__item-year__year">
          June 2021-currently</strong
        >
      </div>
    </div>
  </div>
</div>
