@import '../../../styles.scss';

.banner{
    padding:32px 72px 36px;
    @media screen and (max-width:768px) {
        padding: 36px 15px;
    }
    &__container{
        display: flex;
        @media screen and (max-width:768px) {
            margin-top: 10px;
            flex-direction: column;
        }
        &__left{
            width: 60%;
            padding: 0 15px;
            @media screen and (max-width:768px) {
                width: 100%;
                padding: 0;
            }
            display: flex;
            flex-direction: column;
            hr{
                width: 100px;
            }
            &__line{
                display: flex;
                hr{
                    width: 100px;
                    background: #4338CA;
                    margin: 0px;
                    display: flex;
                    align-self: center;
                    height: 0.2px;
                }
                span{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    color: #4338CA;
                    margin-left: 10px;
                }
            }
            &__title{
                padding: 20px 0;
                span{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 72px;
                    line-height: 72px;
                    @media screen and (max-width:768px) {
                        font-size: 65px;
                    }
                    color: #1F2937;
                    p{
                        margin: 0;
                    }
                }
            }
            &__description{
                width: 510px;
                @media screen and (max-width:768px) {
                    width: 100%;
                }
                p{
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    color: #6B7280;
                }
            }
            &__buttons{
                &__left,&__right{
                    cursor: pointer;
                }
                &__left:hover{
                  animation: shaking 2s infinite;
                }
                /*
                  keyframes para controlar los pasos intermedios en una
                  secuencia de animacion
                */
                @keyframes shaking{
                  10%{
                    transform: scale(1.05) rotate(5deg); // para que gire 5gradoso
                  }
                  20%{
                    transform: scale(1.05) rotate(-5deg);// para que gire -5 grados
                  }
                  30%{
                    transform: scale(1.05) rotate(5deg); // para que gire 5 grados
                  }
                  40%{
                    transform: none;//desaparecer
                  }
                }
                &__left{
                    width: auto;
                    height: 52px;
                    padding: 12px 32px;
                    gap: 10px;
                    background: $primary-color;
                    border-radius: 6px;
                    border: none;
                    h4{
                        margin: 0;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 28px;
                        color: #FFFFFF;
                    }
                }
                &__right{
                    width:  auto;
                    height: 52px;
                    padding: 12px 32px;
                    gap: 10px;
                    background: #FFFFFF;
                    border: 1px solid $primary-color;
                    border-radius: 6px;
                    margin-left: 25px;
                    h4{
                        margin: 0;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 28px;
                        color: $primary-color;
                    }
                }
            }
            &__available{
                margin-top: 10px;
                p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #6B7280;
                }
            }
        }

        &__right{
            width: 40%;
            overflow: hidden;
            position: relative;
            @media screen and (max-width:768px) {
                width: 100%;
            }
            &__details{
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 20px 0;
                bottom: 0;
                width: 100%;
                height: 0%;
                background: rgba(0, 0, 0, 0.7);
                opacity: 0;
                transition: 0.5s ease;
            }
            padding: 20px 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                background-repeat: no-repeat;
                background-position: 50%;
                border-radius: 5%;
            }
        }
    }
}

.banner-title{
  display: inline-block; /* Permite el ajuste del tamaño */
  max-width: 100%; /* Evita que el elemento sea más ancho que su contenedor */
  overflow-wrap: break-word; /* Permite que el texto se ajuste al contenedor */
  // white-space: nowrap; /* Evita el salto de línea */
}
