<div class="banner">
  <div class="banner__container">
    <div class="banner__container__left">
      <div class="banner__container__left__line">
        <hr />
        <span>Ricardo Tovar</span>
      </div>
      <div class="banner__container__left__title">
        <span

        class="banner-title"
          >Player / Music lover /
          <p>Pet lover</p></span
        >
      </div>
      <div class="banner__container__left__description">
        <p class="parragraph">
          Hi, I’m Ricardo. I’m Software Developer. If you are looking for
          Developer to build your brands and grow your business Let’s shake
          hands with me.
        </p>
      </div>
      <div class="banner__container__left__buttons">
        <button class="banner__container__left__buttons__left"  (click)="redirectTo('contactme')">
          <h4>Hire me</h4>
        </button>
        <!-- <button
          class="banner__container__left__buttons__right"
          (click)="redirectTo('experience')"
        >
          <h4>Read more</h4>
        </button> -->
      </div>
      <div class="banner__container__left__available">
        <p class="additional-info">I am currently open for part-time work.</p>
      </div>
    </div>

    <div class="banner__container__right">
      <img
        src="https://v2.cimg.co/news/59669/22919/screenshot-2021-09-06-at-16-07-20-101-bored-ape-yacht-club-ape-in-2021-sothebys.png"
        alt="profile"
      />
      <div class="banner__container__right__details" style="position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      bottom: 0;
      width: 100%;
      height: 0%;
      background: rgba(0, 0, 0, 0.7);
      opacity: 0;
      transition: 0.5s ease;">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit laudantium ratione a quod atque possimus veniam culpa dicta quaerat quibusdam!</p>
      </div>
    </div>
  </div>
</div>
