// .technical-skills-main{
//     padding: 72px;
//     &__container{
//         display: flex;
//         &__left{
//             width: 40%;
//             img{
//                 width: 100%;
//                 height: 100%;
//                 object-fit: fill;
//                 background-repeat: no-repeat;
//                 background-position: 50%;
//             }
//         }
//         &__right{
//             width: 60%;
//             &__items{
//                 width: auto;
//                 display: flex;
//                 flex-wrap: wrap;
//                 padding: 0 20px;
//                 &__item{
//                     width: 50%;
//                     padding: 20px 0;
//                     span{
//                         font-family: 'Inter';
//                         font-style: normal;
//                         font-weight: 500;
//                         font-size: 12px;
//                         line-height: 16px;
//                         color: #6366F1;
//                     }
//                     label{
//                         font-family: 'Inter';
//                         font-style: normal;
//                         font-weight: 600;
//                         font-size: 20px;
//                         line-height: 28px;
//                         color: #3d3e40;
//                     }
//                     p{
//                         font-family: 'Inter';
//                         font-style: normal;
//                         font-weight: 400;
//                         font-size: 14px;
//                         line-height: 16px;
//                         color: #6B7280;
//                     }
//                 }
//             }
//         }
//     }
// }
.hiddenn{
    @media screen and (max-width:480px) {
        display: none!important;
    }
}
.technical-skills-main{
    padding:  0 72px;
    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &__item{
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media screen and (max-width:480px) {
                width: 100%;
            }
            &__logo{
                &__main{
                    &__bg{
                        margin: 20px 40px;
                        width: 150px;
                        height: 150px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #EEF2FF;
                        border-radius: 6px;
                        i{
                            color: #6366F1;
                        }
                    }
                }
            }
            &__text{
                display: flex;
                flex-direction: column;
                strong{
                    // font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 36px;
                    text-align: center;
                    color: #374151;
                }
                p{
                    // font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    text-align: center;
                    color: #9CA3AF;
                }
            }
        }
    }
}
.technical-skills-resources{
    padding: 40px 0;
    &__container{
        padding: 30px 0;
        background: #FEF2F2;
        ul{
            padding: 10px 72px;
            display: flex;
            justify-content: space-between;
            list-style: none;
            li{
                color: #B4A6A2;
                font-size: 24px;
            }
        }
    }
}
