<div class="technical-skills-main" id="technical-skills">
  <div class="technical-skills-main__container">
    <div class="technical-skills-main__container__item">
      <div class="technical-skills-main__container__item__logo">
        <div class="technical-skills-main__container__item__logo__main">
          <div class="technical-skills-main__container__item__logo__main__bg">
            <i class="fa-solid fa-database"></i>
          </div>
        </div>
      </div>

      <div class="technical-skills-main__container__item__text font2">
        <strong class="title1">Database</strong>
        <p>
          {{"databaseText" | transloco}}
        </p>
      </div>
    </div>
    <div class="technical-skills-main__container__item">
      <div class="technical-skills-main__container__item__logo">
        <div class="technical-skills-main__container__item__logo__main">
          <div class="technical-skills-main__container__item__logo__main__bg">
            <i class="fa fa-mobile"></i>
          </div>
        </div>
      </div>

      <div class="technical-skills-main__container__item__text">
        <strong class="title2">Mobile </strong>
        <p>
          {{ "mobileText" | transloco}}
        </p>
      </div>
    </div>
    <div class="technical-skills-main__container__item">
      <div class="technical-skills-main__container__item__logo">
        <div class="technical-skills-main__container__item__logo__main">
          <div class="technical-skills-main__container__item__logo__main__bg">
            <i class="fa fa-desktop fa-2x"></i>
          </div>
        </div>
      </div>

      <div class="technical-skills-main__container__item__text">
        <strong class="title3">{{"web" | transloco}} </strong>
        <p>
          {{"webText" | transloco}}
        </p>
      </div>
    </div>
    <div
      class="technical-skills-main__container__item hiddenn"
      style="visibility: hidden"
    >
      <div class="technical-skills-main__container__item__logo">
        <div class="technical-skills-main__container__item__logo__main">
          <div class="technical-skills-main__container__item__logo__main__bg">
            <i class="fa fa-server fa-2x"></i>
          </div>
        </div>
      </div>

      <div class="technical-skills-main__container__item__text">
        <strong class="title4">{{"backend" | transloco}}</strong>
        <p>
          {{"backendText" | transloco}}
        </p>
      </div>
    </div>
    <div class="technical-skills-main__container__item">
      <div class="technical-skills-main__container__item__logo">
        <div class="technical-skills-main__container__item__logo__main">
          <div class="technical-skills-main__container__item__logo__main__bg">
            <i class="fa fa-server fa-2x"></i>
          </div>
        </div>
      </div>

      <div class="technical-skills-main__container__item__text">
        <strong class="title5">{{"backend" | transloco}}</strong>
        <p>
          {{"backendText" | transloco}}
        </p>
      </div>
    </div>
    <div
      class="technical-skills-main__container__item hiddenn"
      style="visibility: hidden"
    >
      <div class="technical-skills-main__container__item__logo">
        <div class="technical-skills-main__container__item__logo__main">
          <div class="technical-skills-main__container__item__logo__main__bg">
            <i class="fa fa-database fa-2x"></i>
          </div>
        </div>
      </div>

      <div class="technical-skills-main__container__item__text">
        <strong class="title6">Database</strong>
        <p>
          I have experience relation and no relation database like mysql,sql
          server,mongodb
        </p>
      </div>
    </div>
  </div>
</div>
