@import "../styles/mixins/flex-content.scss";
.btn {
  width: 300px;
  height: 100px;
  background-color: green;
}
.link-block {
  display: block;
}

.link-inline {
  display: inline;
}

.main-modal{
  @include flex(column,center,center);
  height: 100%;
}


.container{
  overflow: auto;
  display: flex;
  scroll-snap-type: x mandatory;
}

.container .item{
  flex-shrink: 0;
  scroll-snap-align: start;
  width: 300px;
}

//Progress bar
.progress-container {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.progress-bar {
  width: 0%;
  height: 20px;
  background-color: #8E43ED;
  border-radius: 5px;
  animation: progress-animation 3s ease-out forwards; /* Ajusta la duración y el timing function según tus necesidades */
}

@keyframes progress-animation {
  from { width: 0%; }
  to { width: 100%; }
}
