
@import '../../../styles.scss';

.btn-up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
    border: none;
    &:hover{
        background-color: $primary-color;
        color: #fff;
    }
}
.fa-arrow-up{
    color: $primary-color;
}


.chat-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chat-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}

.chat-box {
  position: absolute;
  bottom: 60px;
  right: 0;
  background-color: transparent;
  border: 1px solid #8E43ED;
  border-radius: 5px;
  width: 0;
  height: 0; /* Inicialmente oculto con altura 0 */
  overflow: hidden;
  transition: all 0.3s; /* Agrega una transición para animar la apertura y el cierre */
}

.chat-content {
  padding: 10px;
  overflow-y: auto;
}

/* Define una clase que muestre el div de chat */
.chat-box.show {
  display: block;
}

.show-chat {
  background-color: white;
  height: 300px!important; /* Mostrar con la altura deseada */
  width: 300px!important; /* Mostrar con la altura deseada */
}


.chat-messages {
  padding: 10px;
  overflow-y: auto;
  height: 185px; /* Ajusta la altura máxima según tu diseño */
}

.chat-input {
  width: 92%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.user-message{
  background-color: #618b8b;
  float: right; /* Coloca los mensajes del usuario a la derecha */
  width: 80%; /* Establece el ancho al 80% del contenedor */
}

.service-message{
  background-color: #8E43ED;
  float: left; /* Coloca los mensajes del servicio a la izquierda */
  width: 80%; /* Establece el ancho al 80% del contenedor */
}

.message{
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

.error{
  background-color: #ed4362;
}
