.cards{
  display: flex;// so that the child elements are on the same row
}

.flip-card{
  background-color: transparent;
  width: 300px;
  height: 300px;
  // perspective: 1000px;
}

.flip-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  // -webkit-backface-visibility: hidden; safari
  // Lado de atras este oculto
  backface-visibility: hidden; //Determina si el lado 'posterior' de un elemento transformado es visible o no cuando mira al espectador.
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);// Como la hemos inicializado con la rotacion ,poeso no se ve el contenido y cuando coloquemos el cursos la parte de back va a regresar a mostrar el contenido (back-fase -visibility
}

